* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  color: white;
}
html,
body {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  overflow-x: hidden;
}

.container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../../assets/background-min.jpg");
}
.background {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
}

.section1,
.section2 {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.section{
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & h1 {
    font-size: 70px;
    font-family: "Quicksand", serif;
  }
}

.saiba-mais{
  height: 70px;
  width: 400px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  border: 3px solid white;
  animation: animate 3s infinite ease-in-out;

  & span {
    font-size: 40px;
  }
}


.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.text-section1 {
  height: 100%;
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  z-index: 2;

  & p {
    border-bottom: 1px solid white;
    margin-bottom: 10px;

    & span {
      background-color: gold;
      color: black;
      padding: 2px;
      border-radius: 10px;
    }
  }
}

.title-section1 span {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  padding: 5px;
}

.img-section1,
.img-section2 {
  height: 100%;
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}
.img-section1 {
  background-image: url("../../assets/banner-removebg-preview.png");
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  padding: 20px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  & label {
    font-size: 20px;
  }
}

.input {
  height: 50px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid white;
  padding-left: 1rem;
  font-size: 20px;
}

.button-form {
  height: 50px;
  border-radius: 30px;
  background-color: gold;
  border: none;
  & span {
    color: black;
    font-size: 30px;
  }
  cursor: pointer;
}

.button-form:hover {
  background-color: #12c520;
}
.section2 {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.img-section2 {
  height: 90%;
  width: 30%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  background-image: url("../../assets/ia-robo.png");
}

.text-section2 {
  height: 100%;
  width: 30%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  z-index: 2;
  border: 2px solid white;
  border-radius: 20px;
}
.title-section2{
  font-size: 42px;
  color: #E5883A;
}
.title-section2 span{
  font-size: 35px;
  border-bottom: 1px solid white;
}
.text-section2 .p-1 {
  font-size: 30px;
}
.text-section2 .p-2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #E5883A;
}
.footer {
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.title-footer {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.title-footer div h2 a:hover {
  color: gold;
}

@keyframes animate {
  0% {
      border-color: white;
  }
  10% {
      border-color: red;
  }
  20% {
      border-color: orange;
  }
  30% {
      border-color: yellow;
  }
  40% {
      border-color: green;
  }
  50% {
      border-color: blue;
  }
  60% {
      border-color: indigo;
  }
  70% {
      border-color: violet;
  }
  80% {
      border-color: purple;
  }
  90% {
      border-color: pink;
  }
  100% {
      border-color: white;
  }
}